/*---------------------navigation toolbar related modification tab section related---------------------------------*/
/*---------------------------------------------*/



/* === COHESION === */
/* Based on code by https://github.com/TheBigWazz */

.sidebar-panel {
  background: transparent !important;
  font-weight: 600 !important;
  opacity: 0.7 !important;
}

/* Transparent Normal Sidebar background */
#sidebar-box {
  background: rgba(255, 255, 255, 0) !important;
}

/* Transparent Bookmark bar */
#PersonalToolbar:not([collapsed="true"]) {
  padding-bottom: 6px;
  margin-right: 6px !important;
  margin-left: 1px !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

/* Transparent Findbar */
findbar {
  background: none !important;
  border-top: none !important;
}

/* Cleaned & Transparent Sidebar */
#sidebar-box {
  background-color: rgba(0, 0, 0, 0.4) !important;
  
  border: none !important;

  & #sidebar-header {
    border-bottom: none !important;

    & #sidebar-close {
      display: none !important;
    }
  }
}

/* Transparent Search box in sidebar */
#sidebar-search-container > #search-box,
#viewButton {
  padding: 4px 8px !important;

  appearance: none !important;
  background-color: transparent !important;
  border-radius: 14px !important;
  border: none !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.1) !important;
   
  }
}


/* === URL BAR CUSTOMIZATION === */
/* Based on code by https://github.com/itsmefen */


/* === ESSENTIALS === */

/* Colouring Essentials */
#zen-essentials-container {
  .tabbrowser-tab[pinned] .tab-background {
    border-radius: 12px !important;
   
  }
}

/* Based on code by https://github.com/greeeen-dev */
#zen-essentials-container {
  @media (-moz-bool-pref: "zen.theme.essentials-favicon-bg") {
    .tab-background {
      &::before {
        width: calc(100%) !important;
        height: calc(100%) !important;
        mask-image: none !important;
        margin: 0px !important;
        background-color: color-mix(
          in srgb,
          #000000 50%,
          transparent
        ) !important;
      }
      &::after {
        left: -50% !important;
        top: -50% !important;
        width: 200% !important;
        height: 200% !important;
        filter: saturate(300%) blur (50px) !important;
        box-shadow: 0px 0px 16px 10px #888888 !important;
      }
    }
  }
}

/* === NORMAL TAB CUSTOMIZATION === */

.tab-text{
  width: 98% !important;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1 !important;
  
   filter:  brightness(90%)  !important;
  
}

.tab-label{
  font-size: 15.999px !important
     
}



 #vertical-pinned-tabs-container {
  & .tab-icon-stack {
   
  
    scale: 1.1 !important;
    margin-left: 4px !important;
   
    
  }
}


.zen-workspace-tabs-section{
  margin-left: 6.5px !important;
 
}




/* Text on general tab bar */
/*
.tab-text:not([pinned]) {
  margin-top: 0px !important;
  margin-left: 0px !important;
}*/


/* reduce favicon sizes */
.tab-icon-image:not([pinned]) {
  
  scale: 1.1 !important;
  margin-left: 6px !important;
 
}



/* Common pointer events */
.titlebar-buttonbox-container,
.titlebar-buttonbox,
.titlebar-button,
#urlbar,
#urlbar-input,
.urlbarView-body-outer,
.urlbarView-body-inner {
  pointer-events: auto !important;
}

/*Transition for tab background */
.tabbrowser-tab .tab-background {
  transition: background-color 0.3s ease;
}

/*When tabs are selected/active */
.tabbrowser-tab .tab-background:is([selected], [multiselected]) {
  background-color: color-mix(in srgb,  0%, transparent) !important;
  border-radius: 12px !important;
  
 
}

/*Styling for Tab close button*/
.tab-close-button {
  width: 18px !important;
  height: 18px !important;
  padding: 5px !important;
  border-radius: 20px !important;
}

/*Tab close button colors, also for hover*/
.close-icon {
  background-color: color-mix(
    in srgb,
    currentColor 10%,
    transparent
  ) !important;
}

.close-icon:hover {
  transition: 0.5s !important;
  background-color: color-mix(
    in srgb,
    currentColor 20%,
    transparent
  ) !important;
}

.tab-background{
  margin-right: 1px !important;
}
  
.tab-content{
  margin-left: 1px !important;
  align-self: center !important;
}

/*----------------------------------------------------------------------------------------------------------------------------*/


 #tabbrowser-tabs .tabbrowser-tab:not([pinned]):is([visuallyselected]):not(:hover) .tab-close-button {
    display: none !important;
  }

 #statuspanel {
    display: none !important;
  }


 #back-button {
    list-style-image: url("chrome://browser/skin/back.svg") !important;
  }
  #forward-button {
    list-style-image: url("chrome://browser/skin/forward.svg") !important;
  }
  #reload-button {
    list-style-image: url("chrome://global/skin/icons/reload.svg") !important;
  }


 #tabbrowser-tabpanels[zen-split-view="true"] .browserSidebarContainer.deck-selected {
    outline:  var(--zen-colors-border) !important;
  }
