
@media (-moz-pref("arch.compact.mode.full.screen.mode", 1)) {

  :root[zen-compact-mode="true"]:not([customizing]) {
      #zen-appcontent-wrapper:not(:has(#tabbrowser-tabpanels[zen-split-view]), :has(#zen-sidebar-web-panel:not([hidden]):not([pinned]))) {
          margin: 0 !important;

          #zen-tabbox-wrapper {
              margin: 0 !important;
          }
        #zen-appcontent-navbar-wrapper{
        display: none !important;
          
        }

          #zen-tabbox-wrapper .browserSidebarContainer,
          #zen-tabbox-wrapper browser {
              margin: 0 !important;
           
              border-radius: 0 !important;
          }

          @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
              #zen-appcontent-navbar-container {
                
                  visibility: collapse !important;
              }
          }
      }
  }
}

