
@media (-moz-pref("arcline.compact.mode.full.screen.mode", 0)) {

  :root[zen-compact-mode="true"]:not([customizing]) {
      #zen-appcontent-wrapper:not(:has(#tabbrowser-tabpanels[zen-split-view]), :has(#zen-sidebar-web-panel:not([hidden]):not([pinned]))) {
          margin: 0 !important;

          #zen-tabbox-wrapper {
              margin: 0 !important;
          }
        #zen-appcontent-navbar-wrapper{
        display: none !important;
          
        }

          #zen-tabbox-wrapper .browserSidebarContainer,
          #zen-tabbox-wrapper browser {
              margin: 0 !important;
           
              border-radius: 0 !important;
          }

          @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
              #zen-appcontent-navbar-container {
                
                  visibility: collapse !important;
              }
          }
      }
  }

      @media (-moz-pref("arcline.compact.sidebar.position", 0))     {




     #navigator-toolbox:not([animate='true']) #titlebar {
     
        &::before {
        border-radius: 8px !important;
          background: transparent !important;}}
    
        

/* === BLUR COMPACT SIDEBAR ================================================================================================ */
/* Compact sidebar with blurred transparent background */
body:has([zen-compact-mode="true"]) #titlebar {
 
   

       
   top: -4px   !important;
  margin-left: -4px  !important;
  
 
  
  min-width: 15px !important;
  border-radius: 8px !important;
scale: 1 !important;
 
    
min-height: calc(100% + (var(--zen-element-separation) * 1)) !important;

  
  .titlebar-buttonbox {
    margin-right: 0px;
    margin-left: 1px !important;
  margin-top: 1px !important;
  gap: 2.3px !important;
  }

  

.zen-essentials-container{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

  
.zen-current-workspace-indicator[active="true"] {
   
   margin-left: 1px !important;
 margin-top: 52px !important;
  
  top: 0px !important;
    filter: invert(0) brightness(150%) contrast(105%);
  scale:1;
 

}

#nav-bar {
height: 34px !important;
}
  

  
 
  
  
  
#urlbar:not([open]) {
  #urlbar-background { border-radius: 12px !important;
    height: 88% !important;
    left:  0px !important;
    width: 99% !important;
    margin-bottom: 0px !important;
    height: 35px !important;
    margin-right: 0px !important;
    margin-top: 6px !important;
    
  }}


#urlbar[open][zen-floating-urlbar="true"] {
  #urlbar-container:has(&) {
    border-radius: 2px !important;
   

   

    height: 34.5px !important;
    min-height: 34.5px !important;
    margin-right: 2px !important;
    margin-left: 1.5px !important;
    margin-top: 5px !important;
    background: var(--toolbarbutton-hover-background);
  }
}



  
}
      
   

#browser::after {
  
   content: "" !important; /* <<<< ----- THIS IS THE CRITICAL FIX ----- */
  position: absolute !important; /* Recommended for pseudo-elements positioned with top/left/etc. */
  z-index: 0; /* Or -1 if it needs to be behind other content within #browser, adjust as needed */
  opacity: 0 !important;
  left: calc((var(--zen-sidebar-width) - 0px) * -1) !important;
  width: calc(var(--zen-sidebar-width) + 6px) !important;
  min-width: 15px !important;
  border-radius: 2px !important;
  
  margin-right: calc(var(--zen-element-separation)/8)  !important;
   margin-left: calc((var(--zen-element-separation) / 1) * -1) !important;
   margin-top: -3.5px  !important;
   margin-bottom: calc(var(--zen-element-separation)) !important;
  height: calc(100% - (var(--zen-element-separation) * 0.2)) !important;
  top: 0px !important;
  background: linear-gradient(to right, light-dark(#eee, #444) 0px, light-dark(#eee, #444) calc(var(--zen-sidebar-width, --zen-sidebar-width-fallback) + 25px), transparent calc(var(--zen-sidebar-width, --zen-sidebar-width-fallback) + 100px)) !important;
  
  transition: left 0.2s cubic-bezier(0.175, 0.585, 0.32, 1) !important;
  top: calc(var(--zen-element-separation) / 2) !important;
}

body:has([zen-compact-mode="true"] [zen-user-show=""], [zen-compact-mode="true"] #navigator-toolbox[zen-has-hover="true"]) #browser::after{
  opacity: 1.2 !important;
  left: var(--zen-element-separation) !important;
}
      
}

@media (-moz-pref("arch.compact.sidebar.position", 1)){



#navigator-toolbox:not([animate='true']) #titlebar {
     
        &::before {
        border-radius: 12px !important;
          background: transparent !important;}}



/* === BLUR COMPACT SIDEBAR ================================================================================================ */
/* Compact sidebar with blurred transparent background */
body:has([zen-compact-mode="true"]) #titlebar {
 
   

       
   top: calc(var(--zen-element-separation) / 0.77)  !important;
  margin-left: calc(var(--zen-element-separation) / 0.83)  !important;
  
 
   
  min-width: 15px !important;
  border-radius: 11px !important;
scale: 1 !important;
  padding: 8px !important;
    
height: calc(100% - (var(--zen-element-separation) * 2.43)) !important;

  
  .titlebar-buttonbox {
    margin-right: 0px;
    margin-left: 1px !important;
  margin-top: 1px !important;
  gap: 2.3px !important;
  }

  

.zen-essentials-container{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

  
.zen-current-workspace-indicator[active="true"] {
   
   margin-left: 1px !important;
 margin-top: 52px !important;
  
  top: 0px !important;
    filter: invert(0) brightness(150%) contrast(105%);
  scale:1;
 

}

#nav-bar {
height: 34px !important;
}
  

  
 
  
  
  
#urlbar:not([open]) {
  #urlbar-background { border-radius: 12px !important;
    height: 88% !important;
    left:  0px !important;
    width: 99% !important;
    margin-bottom: 0px !important;
    height: 35px !important;
    margin-right: 0px !important;
    margin-top: 6px !important;
    
  }}


#urlbar[open][zen-floating-urlbar="true"] {
  #urlbar-container:has(&) {
    border-radius: 12px !important;
   

   

    height: 34.5px !important;
    min-height: 34.5px !important;
    margin-right: 2px !important;
    margin-left: 1.5px !important;
    margin-top: 5px !important;
    background: var(--toolbarbutton-hover-background);
  }
}



  
}
      
   

#browser::after {
  
   content: "" !important; /* <<<< ----- THIS IS THE CRITICAL FIX ----- */
  position: absolute !important; /* Recommended for pseudo-elements positioned with top/left/etc. */
  z-index: 0; /* Or -1 if it needs to be behind other content within #browser, adjust as needed */
  opacity: 0 !important;
  left: calc((var(--zen-sidebar-width) - 0rem) * -1) !important;
  width: calc(var(--zen-sidebar-width) + 6px) !important;
  min-width: 15px !important;
  border-radius: 11px !important;
  
  margin-right: calc(var(--zen-element-separation)/2) 0 !important;
   margin-left: calc((var(--zen-element-separation) / 1.5) * 1) !important;
   margin-top: calc(var(--zen-element-separation)/0.76) !important;
   margin-bottom: calc(var(--zen-element-separation)) !important;
  height: calc(100% - (var(--zen-element-separation) * 3.365)) !important;
  top: 0px !important;
  background: linear-gradient(to right, light-dark(#eee, #444) 0px, light-dark(#eee, #444) calc(var(--zen-sidebar-width, --zen-sidebar-width-fallback) + 25px), transparent calc(var(--zen-sidebar-width, --zen-sidebar-width-fallback) + 100px)) !important;
 
  transition: left 0.2s cubic-bezier(0.175, 0.585, 0.32, 1) !important;
  top: calc(var(--zen-element-separation) / 2) !important;
}

body:has([zen-compact-mode="true"] [zen-user-show=""], [zen-compact-mode="true"] #navigator-toolbox[zen-has-hover="true"]) #browser::after{
  opacity: 1.2 !important;
  left: var(--zen-element-separation) !important;
}
}
      










  
}

