




 @media (-moz-pref("arcline.borders", 2)) {
#browser{
  
  
 margin-top: -1.5px !important;
 

}
    
  
    #browser{
      margin-right: 0px !important;
      overflow: hidden !important;
     
      margin-top: 0px !important;
      margin-left: 0px !important;
   
      border-radius: 7px !important;

    }

    #zen-main-app-wrapper{
      padding: 0px !important;
     margin-top: 1.5px !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
       outline: 5px solid rgba(0, 0, 0, 1) !important;
 margin-bottom: 1px !important;
       border: 1px solid rgba(215, 215, 217,  calc(var(--zen-gradient-opacity) + 0.4));
 scale: 1 !important;
      border-radius: 5px !important;
    }
    
  
    
}
  



 