#zen-site-data-header toolbarbutton::before {
 
    background: linear-gradient(
      to bottom,
      light-dark(rgb(255, 255, 255), rgb(34, 34, 34)),
      light-dark(rgb(246, 246, 246), rgb(21, 21, 21))
    );
    box-shadow:
      0px 2px 4px rgba(0, 0, 0, 0.075),
      inset 0px 1px 0px light-dark(transparent, rgba(255, 255, 255, 0.15));
    border-radius: 6px;
    --base-border-color: light-dark(rgba(0, 0, 0, 0.175), rgba(255, 255, 255, 0.1));
    border: 1px solid light-dark(var(--base-border-color), rgb(21, 21, 21));
  

 
}



#tracking-protection-icon-container
{
  order: -1 !important;
} 





#tracking-protection-icon-container
 {
 margin-right: 0px !important;
margin-left: -8px !important;
 
  
 background: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.5)) !important;
  /* 2. Apply the icon's SHAPE as a mask. This cuts out the background color. */
  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='28' height='28' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:bx='https://boxy-svg.com'%3E%3Cdefs%3E%3Cbx:export%3E%3Cbx:file format='svg' path='lock.svg'/%3E%3C/bx:export%3E%3C/defs%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.0942 10.4319C15.6287 10.4521 16.0557 10.8918 16.0557 11.4312V16.2152C16.0557 16.7674 15.608 17.2152 15.0557 17.2152H9C8.44771 17.2152 8 16.7674 8 16.2152V11.4312C8 10.8789 8.44772 10.4312 9 10.4312H9.09424V9C9.09424 7.34315 10.4374 6 12.0942 6C13.7511 6 15.0942 7.34315 15.0942 9V10.4319ZM14.0942 10.4312V9C14.0942 7.89543 13.1988 7 12.0942 7C10.9897 7 10.0942 7.89543 10.0942 9V10.4312H14.0942Z' fill-opacity='1' style='fill: currentcolor;'/%3E%3C/svg%3E%0A") !important;
scale: 2 !important;
  /* --- Mask properties and cleanup --- */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  list-style-image: none !important;
 

  /* --- Layout & Transform --- */
  position: relative !important;


  width: 14px !important;
  height: 14px !important;
  transform-origin: center !important;


 
  
}



#page-action-buttons{
  display: none !important;}
      


#zen-copy-url-button >image {
        display: none;
      }
/* Copy URL button positioning in page-action-buttons */
  #zen-copy-url-button {
    margin-right: -5px !important;
  list-style-image: none !important;

  cursor: pointer;
  
 background: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.5)) !important;
  /* 2. Apply the icon's SHAPE as a mask. This cuts out the background color. */
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 19' fill='black'%3E%3Cpath d='M9.39066 6.80859C9.79504 6.40177 10.3904 6.19866 10.9163 6.42763C10.9914 6.46031 11.0636 6.49486 11.1328 6.53125C11.4453 6.69271 11.7084 6.88281 11.9219 7.10156C12.5782 7.7526 13.0157 8.47396 13.2344 9.26562C13.4532 10.0521 13.4532 10.8411 13.2344 11.6328C13.0157 12.4193 12.5808 13.138 11.9297 13.7891L9.17972 16.5391C8.53388 17.1849 7.81774 17.6172 7.03128 17.8359C6.24482 18.0547 5.45576 18.0547 4.66409 17.8359C3.87763 17.6224 3.15628 17.1849 2.50003 16.5234C1.84378 15.8724 1.40628 15.151 1.18753 14.3594C0.968781 13.5677 0.968781 12.7786 1.18753 11.9922C1.40628 11.2057 1.84118 10.487 2.49222 9.83594L3.93539 8.403C4.14666 8.19323 4.5917 8.41509 4.62503 8.71094V8.71094V8.71094C4.69723 9.34271 4.59526 10.022 4.14563 10.4716L3.69534 10.9219C3.26305 11.3542 2.97399 11.8281 2.82816 12.3438C2.68753 12.8594 2.69013 13.3776 2.83597 13.8984C2.9818 14.4193 3.27086 14.8958 3.70316 15.3281C4.13024 15.7604 4.6042 16.0469 5.12503 16.1875C5.64586 16.3281 6.16409 16.3255 6.67972 16.1797C7.19534 16.0391 7.6693 15.7552 8.10159 15.3281L10.7266 12.7031C11.1589 12.276 11.4453 11.8047 11.586 11.2891C11.7266 10.7682 11.724 10.2474 11.5782 9.72656C11.4375 9.20573 11.1511 8.72917 10.7188 8.29688C10.4896 8.07292 10.211 7.89062 9.88284 7.75C9.80469 7.71527 9.72358 7.68334 9.63952 7.65422C9.28916 7.53285 9.12926 7.07156 9.39066 6.80859V6.80859V6.80859ZM9.63284 12.1992C9.22709 12.6074 8.63299 12.8194 8.10291 12.5952C8.02677 12.563 7.95341 12.5286 7.88284 12.4922C7.57555 12.3255 7.31513 12.1328 7.10159 11.9141C6.44534 11.2578 6.00784 10.5365 5.78909 9.75C5.57034 8.95833 5.57034 8.16927 5.78909 7.38281C6.00784 6.59635 6.44274 5.8776 7.09378 5.22656L9.83597 2.48438C10.487 1.83333 11.2058 1.39844 11.9922 1.17969C12.7787 0.960938 13.5651 0.960938 14.3516 1.17969C15.1433 1.39323 15.8698 1.83073 16.5313 2.49219C17.1823 3.14844 17.6172 3.8724 17.836 4.66406C18.0547 5.45052 18.0547 6.23698 17.836 7.02344C17.6172 7.8099 17.1849 8.52604 16.5391 9.17188L15.0826 10.6181C14.8728 10.8263 14.432 10.6061 14.3985 10.3125V10.3125V10.3125C14.3268 9.67604 14.4304 8.99153 14.8833 8.53864L15.3282 8.09375C15.7604 7.66667 16.0469 7.19531 16.1875 6.67969C16.3282 6.15885 16.3256 5.64062 16.1797 5.125C16.0391 4.60417 15.7526 4.1276 15.3203 3.69531C14.8881 3.26302 14.4141 2.97656 13.8985 2.83594C13.3828 2.6901 12.8646 2.6901 12.3438 2.83594C11.8282 2.97656 11.3542 3.26042 10.9219 3.6875L8.29691 6.3125C7.86461 6.74479 7.57555 7.21875 7.42972 7.73438C7.28909 8.25 7.2917 8.76823 7.43753 9.28906C7.58336 9.80469 7.87243 10.2812 8.30472 10.7188C8.53388 10.9427 8.81253 11.1276 9.14066 11.2734C9.21808 11.3066 9.29841 11.337 9.38164 11.3647C9.73042 11.4807 9.89196 11.9385 9.63284 12.1992V12.1992V12.1992Z'/%3E%3C/svg%3E") !important;
 

  /* --- Mask properties and cleanup --- */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  list-style-image: none !important;
 

  /* --- Layout & Transform --- */
  position: relative !important;


  width: 14px !important;
  height: 14px !important;
  transform-origin: center !important;


 transition: transform 0.3s ease !important;
  
}

  #zen-copy-url-button:hover{transform: scale(1) rotate(-90deg)  !important;}



#zen-site-data-icon-button >image {
        display: none;
      }


#zen-site-data-icon-button{
  background: light-dark(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.85)) !important;

margin-left: 5px !important;

  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28' id='Tuning-Square-3--Streamline-Solar' height='28' width='28' xmlns:bx='https://boxy-svg.com'%3E%3Cdefs%3E%3Cbx:export%3E%3Cbx:file format='svg' path='sitompo.svg'/%3E%3C/bx:export%3E%3C/defs%3E%3Cdesc%3E Tuning Square 3 Streamline Icon: https://streamlinehq.com %3C/desc%3E%3Cg id='Line Duotone/Settings Fine Tuning/Tuning Square 3'%3E%3Cpath id='Vector' d='M2 12c0 -4.71405 0 -7.07107 1.46447 -8.53553C4.92893 2 7.28595 2 12 2c4.714 0 7.0711 0 8.5355 1.46447C22 4.92893 22 7.28595 22 12c0 4.714 0 7.0711 -1.4645 8.5355C19.0711 22 16.714 22 12 22c-4.71405 0 -7.07107 0 -8.53553 -1.4645C2 19.0711 2 16.714 2 12Z' style='stroke-width: 2px; stroke: currentcolor;'/%3E%3Cpath id='Vector_2' d='M 10.614 12.771 C 11.719 12.771 12.614 13.689 12.614 14.822 C 12.614 15.955 11.719 16.873 10.614 16.873 C 9.509 16.873 8.614 15.955 8.614 14.822 C 8.614 13.689 9.509 12.771 10.614 12.771 Z' style='stroke-width: 1.8px; stroke: currentcolor;'/%3E%3Cpath id='Vector_3' d='M 11.335 8.717 C 11.335 7.612 12.23 6.717 13.335 6.717 C 14.439 6.717 15.335 7.612 15.335 8.717 C 15.335 9.821 14.439 10.717 13.335 10.717 C 12.23 10.717 11.335 9.821 11.335 8.717 Z' style='stroke-width: 1.8px; stroke: currentcolor;'/%3E%3Cpath id='Vector_4' stroke-linecap='round' d='M 12.566 14.924 L 17.566 14.924' style='stroke-width: 1.8px; stroke: currentcolor;'/%3E%3Cpath id='Vector_5' stroke-linecap='round' d='M 10.512 8.973 L 6.536 8.973' style='stroke-width: 1.8px; stroke: currentcolor;'/%3E%3Cpath id='Vector_6' stroke-linecap='round' d='M 6.126 14.924 L 8.561 14.924' style='stroke-width: 1.8px; stroke: currentcolor;'/%3E%3Cpath id='Vector_7' stroke-linecap='round' d='M 17.616 8.973 L 16.002 8.973' style='stroke-width: 1.8px; stroke: currentcolor;'/%3E%3C/g%3E%3C/svg%3E%0A") !important;

  height: 28px !important;
  width: 20px !important;

  /* --- Mask properties and cleanup --- */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  list-style-image: none !important;
  fill: none !important;
  filter: none !important;


 
  transform-origin: center !important;
  
}


#zen-site-data-icon-button[open] {
margin-left: -1px !important;
  margin-right: -1.5px !important;
background: light-dark(color-mix(in srgb, var(--zen-primary-color) 50%, black), var(--zen-primary-color)) !important;
 height: 28px !important;
  width: 28px !important;


filter: brightness(100%) contrast(1.5) saturate(2) !important;
-webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='50 40 38 38' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 79.333 52.766 C 79.951 54.14 79.742 62.673 79.374 61.856 C 79.682 64.781 77.666 67.257 74.386 66.594 C 74.386 67.084 65.698 67.668 65.698 66.844 C 62.491 67.434 60.687 64.663 60.96 61.773 C 60.02 61.896 59.172 53.097 60.752 52.891 C 60 50.79 61.408 49.653 62.911 49.017 C 61.256 49.908 60.6 51.643 60.604 54.565 C 60.604 54.81 60.612 60.977 60.612 60.565 C 61.666 64.546 62.267 66.796 66.871 66.752 L 72.871 66.692 C 77.481 66.645 79.119 64.989 79.112 60.379 L 79.104 54.379 C 79.099 51.406 78.415 49.675 76.694 48.833 C 78.388 49.671 79.517 51.074 79.333 52.766 Z M 72.873 68.192 L 66.873 68.252 C 61.444 68.307 59.12 66.01 59.112 60.58 L 59.104 54.58 C 59.096 49.15 61.413 46.807 66.843 46.752 L 72.843 46.692 C 78.272 46.637 80.596 48.934 80.604 54.364 L 80.612 60.364 C 80.62 65.794 78.303 68.137 72.873 68.192 Z M 76.983 61.287 C 76.982 60.877 76.642 60.54 76.232 60.545 L 72.332 60.584 C 71.922 60.588 71.583 60.931 71.583 61.341 C 71.584 61.751 71.924 62.088 72.334 62.084 L 76.234 62.045 C 76.644 62.04 76.984 61.697 76.983 61.287 Z M 65.931 61.398 L 65.931 61.397 C 65.931 60.378 66.76 59.541 67.778 59.531 C 68.797 59.52 69.629 60.342 69.63 61.362 C 69.632 62.382 68.803 63.22 67.783 63.231 C 66.764 63.241 65.934 62.41 65.931 61.4 C 65.931 61.399 65.931 61.399 65.931 61.398 Z M 63.23 60.675 C 62.82 60.68 62.481 61.023 62.481 61.433 C 62.482 61.843 62.822 62.18 63.232 62.175 L 64.516 62.162 C 64.859 63.648 66.193 64.747 67.785 64.731 C 69.635 64.712 71.133 63.187 71.13 61.347 C 71.127 59.497 69.625 58.012 67.775 58.031 C 66.184 58.046 64.854 59.17 64.515 60.662 L 63.23 60.675 Z M 76.972 54.127 C 76.971 53.717 76.631 53.38 76.221 53.385 L 74.937 53.398 C 74.594 51.912 73.26 50.815 71.668 50.83 C 69.818 50.849 68.32 52.364 68.323 54.214 C 68.326 56.064 69.828 57.549 71.678 57.53 C 73.27 57.515 74.601 56.39 74.94 54.898 L 76.223 54.885 C 76.633 54.88 76.972 54.547 76.972 54.127 Z M 73.522 54.162 C 73.522 54.173 73.522 54.184 73.523 54.195 C 73.506 55.2 72.684 56.02 71.675 56.03 C 70.656 56.041 69.824 55.229 69.823 54.199 C 69.821 53.179 70.65 52.341 71.67 52.33 C 72.679 52.32 73.503 53.124 73.523 54.129 C 73.522 54.14 73.522 54.151 73.522 54.162 Z M 67.871 54.219 C 67.87 53.809 67.53 53.472 67.12 53.476 L 63.22 53.515 C 62.81 53.52 62.47 53.863 62.471 54.273 C 62.472 54.683 62.812 55.02 63.222 55.015 L 67.122 54.976 C 67.532 54.972 67.871 54.639 67.871 54.219 Z'/%3E%3C/svg%3E") !important;

  /* --- Mask properties and cleanup --- */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  list-style-image: none !important; 
  fill: none !important;


  
 
  transform-origin: center !important;
 
}