
@media (-moz-pref("arcline.compact.sidebar.position", 0))  

{


     #navigator-toolbox:not([animate='true']) #titlebar {
     
        &::before {
        border-radius: 2px !important;
          background: transparent !important;}}
    
        

/* === BLUR COMPACT SIDEBAR ================================================================================================ */
/* Compact sidebar with blurred transparent background */
body:has([zen-compact-mode="true"]) #titlebar {
 
   

       
   top: calc(var(--zen-element-separation) / 1.9)  !important;
  margin-left: calc(var(--zen-element-separation) / 1.7)  !important;
  
 
  
  min-width: 15px !important;
  border-radius: 2px !important;
scale: 1 !important;
  padding: 8px !important;
    
height: calc(100% - (var(--zen-element-separation) * 1)) !important;

  
  .titlebar-buttonbox {
    margin-right: 0px;
    margin-left: 1px !important;
  margin-top: 1px !important;
  gap: 2.3px !important;
  }

  

.zen-essentials-container{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

  
.zen-current-workspace-indicator[active="true"] {
   
   margin-left: 1px !important;
 margin-top: 52px !important;
  
  top: 0px !important;
    filter: invert(0) brightness(150%) contrast(105%);
  scale:1;
 

}

#nav-bar {
height: 34px !important;
}
  

  
 
  
  


  

#urlbar:not([open]) {
  #urlbar-background { border-radius: 12px !important;
    height: 88% !important;
    left:  0px !important;
    width: 99% !important;
    margin-bottom: 0px !important;
    height: 35px !important;
    margin-right: 0px !important;
    margin-top: 5px !important;
    
    
  }}


#urlbar[open][zen-floating-urlbar="true"] {
  #urlbar-container:has(&) {
    border-radius: 12px !important;
   
    left:  0px !important;
   

    height: 34.5px !important;
    min-height: 34px !important;
    margin-right: 2px !important;
    margin-left: 1.5px !important;
    margin-top: 2.5px !important;
    background: var(--toolbarbutton-hover-background);
  }
}





  
}
      
   

#browser::after {
  
   content: "" !important; /* <<<< ----- THIS IS THE CRITICAL FIX ----- */
  position: absolute !important; /* Recommended for pseudo-elements positioned with top/left/etc. */
  z-index: 0; /* Or -1 if it needs to be behind other content within #browser, adjust as needed */
  opacity: 0 !important;
  left: calc((var(--zen-sidebar-width) - 0px) * -1) !important;
  width: calc(var(--zen-sidebar-width) + 6px) !important;
  min-width: 15px !important;
  border-radius: 2px !important;
  
  margin-right: calc(var(--zen-element-separation)/1)  !important;
   margin-left: calc((var(--zen-element-separation) / 19.1) * 1) !important;
   margin-top: calc(var(--zen-element-separation)/2) !important;
   margin-bottom: calc(var(--zen-element-separation)) !important;
  height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  top: 0px !important;
  background: linear-gradient(to right, light-dark(#eee, #444) 0px, light-dark(#eee, #444) calc(var(--zen-sidebar-width, --zen-sidebar-width-fallback) + 25px), transparent calc(var(--zen-sidebar-width, --zen-sidebar-width-fallback) + 100px)) !important;
  
  transition: left 0.2s cubic-bezier(0.175, 0.585, 0.32, 1) !important;
  top: calc(var(--zen-element-separation) / 2) !important;
}

body:has([zen-compact-mode="true"] [zen-user-show=""], [zen-compact-mode="true"] #navigator-toolbox[zen-has-hover="true"]) #browser::after{
  opacity: 1.2 !important;
  left: var(--zen-element-separation) !important;
}
      
      
  
}


  
