
@media (-moz-pref("arcline.compact.sidebar.bg", 0)) {
     
      *{
  /* Colors */
  --natsumi-primary-color: var(--natsumi-accent-color, var(--zen-primary-color));
  --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
  --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-colors-primary) 20%, white 80%);
  --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 2%, white 98%);
  --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

  @media (prefers-color-scheme: dark) {
    --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 20%, var(--zen-dark-color-mix-base) 80%);
    --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 30%, var(--zen-dark-color-mix-base) 70%);
    --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 1%, var(--zen-dark-color-mix-base) 99%);
    --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

    @media -moz-pref('zen.theme.color-prefs.colorful') {
      --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
      --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 40%, black 60%);
      --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 15%, black 85%);
      --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);
    }
  }

  /* Material: Mistcrylic */
  --natsumi-mat-mc-background: color-mix(in srgb, var(--natsumi-primary-color) 40%, rgba(255, 255, 255, 0.8));
  --natsumi-mat-mc-shadow-color: rgba(0, 0, 0, 0.3);
  --natsumi-mat-mc-border-color: rgba(255, 255, 255, 0.1);
  --natsumi-mat-mc-shadow-size: 10px;
  --natsumi-mat-mc-blur-radius: 15px;

  @media (prefers-color-scheme: dark) {
    --natsumi-mat-mc-background: color-mix(in srgb, var(--natsumi-colors-secondary) 50%, rgba(0, 0, 0, 0.8));
  }

  /* Material: Haze */
  --natsumi-mat-hz-background: rgba(255, 255, 255, 0.8);
  --natsumi-mat-hz-background-tinted: color-mix(in srgb, var(--natsumi-primary-color) 20%, rgba(255, 255, 255, 0.8));
  --natsumi-mat-hz-blur-radius: 100px;
  --natsumi-mat-hz-shadow-color: rgba(0, 0, 0, 0.3);
  --natsumi-mat-hz-shadow-size: 10px;
  --natsumi-mat-hz-saturation: 3;
  --natsumi-mat-hz-contrast: 2;

  @media (prefers-color-scheme: dark) {
    --natsumi-mat-hz-background: rgba(0, 0, 0, 0.8);
    --natsumi-mat-hz-background-tinted: color-mix(in srgb, var(--natsumi-colors-secondary) 20%, rgba(0, 0, 0, 0.8));
  }

  /* Material: Glass */
  --natsumi-mat-ga-background: color-mix(in srgb, var(--natsumi-colors-secondary) 75%, transparent);
  --natsumi-mat-ga-blur-radius: 10px;
  --natsumi-mat-ga-shadow-size: 10px;
  --natsumi-mat-ga-shadow-opacity: 75%;
  --natsumi-mat-ga-shadow-color: color-mix(in srgb, var(--natsumi-colors-secondary) var(--natsumi-mat-ga-shadow-opacity), black);

  @media (prefers-color-scheme: dark) {
    --natsumi-mat-ga-shadow-color: color-mix(in srgb, var(--natsumi-colors-secondary) var(--natsumi-mat-ga-shadow-opacity), white);

    @media -moz-pref("natsumi.theme.force-glass-dark-shadows") {
      --natsumi-mat-ga-shadow-color: color-mix(in srgb, var(--natsumi-colors-secondary) var(--natsumi-mat-ga-shadow-opacity), black);
    }
  }

}
      
      
      
      
        *{
      
       
 --natsumi-primary-color: rgba(255,255,255,0.5);
      --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
      --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-colors-primary) 20%, white 80%);

      @media (prefers-color-scheme: dark) {
        --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 20%, #1d1d1d 80%);
        --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 30%, #1d1d1d 70%);
      }

      /* Material: Haze */
      --natsumi-mat-hz-background: rgba(255, 255, 255, 0.8);
      --natsumi-mat-hz-background-tinted: color-mix(in srgb, var(--natsumi-primary-color) 30%, rgba(255, 255, 255, 0.8));
      --natsumi-mat-hz-blur-radius: 100px;

      @media (prefers-color-scheme: dark) {
        --natsumi-mat-hz-background: rgba(0, 0, 0, 0.8);
        --natsumi-mat-hz-background-tinted: color-mix(in srgb, var(--natsumi-colors-secondary) 40%, rgba(0, 0, 0, 0.8));
      }

      /* Material: Glass */
      --natsumi-mat-ga-background: color-mix(in srgb, var(--natsumi-colors-secondary) 75%, transparent);
      --natsumi-mat-ga-shadow-color: color-mix(in srgb, var(--natsumi-colors-secondary) 75%, light-dark(black, white));
      --toolbarbutton-hover-background: color-mix(in srgb, light-dark(#1d1d1d, #ebebeb) 10%, transparent 90%);
      --toolbarbutton-active-background: light-dark(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.11));

      @media -moz-pref("natsumi.theme.force-dark-shadows") {
        --natsumi-mat-ga-shadow-color: color-mix(in srgb, var(--natsumi-colors-secondary) 75%, black);
      }}
    

      
      
    
        

/* === BLUR COMPACT SIDEBAR ================================================================================================ */
/* Compact sidebar with blurred transparent background */
:root[zen-compact-mode="true"] #navigator-toolbox:not([animate='true']) #titlebar {
 
 
     backdrop-filter: saturate(3) contrast(2) blur(100px) !important;
       
        background-color: var(--natsumi-mat-hz-background-tinted) !important;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) !important;
}
       

      
  
