@media not (-moz-pref("arcline.compact.mode.full.screen.mode", 1)) {

@media (-moz-pref("arcline.compact.sidebar.position", 0))  

{


     #navigator-toolbox:not([animate='true']) #titlebar {
     
        &::before {
        border-radius: 2px !important;
          background: transparent !important;}}
    
        

/* === BLUR COMPACT SIDEBAR ================================================================================================ */
/* Compact sidebar with blurred transparent background */
:root[zen-compact-mode="true"] #titlebar {
 
   

       
   top: calc(var(--zen-element-separation) / 2)  !important;
  margin-left: calc(var(--zen-element-separation) / 2)  !important;
  
 
  
  min-width: 15px !important;
  border-radius: 2px !important;
scale: 1 !important;
  padding: 8px !important;
    
height: calc(100% - (var(--zen-element-separation) * 0.9)) !important;

  
  .titlebar-buttonbox {
    margin-right: 0px;
    margin-left: -1px !important;
  margin-top: -1px !important;
  gap: 2.3px !important;
  }

  

 





  
}
      
   

#browser::after {
  
   content: "" !important; /* <<<< ----- THIS IS THE CRITICAL FIX ----- */
  position: absolute !important; /* Recommended for pseudo-elements positioned with top/left/etc. */
  z-index: 0; /* Or -1 if it needs to be behind other content within #browser, adjust as needed */
  opacity: 0 !important;
  left: calc((var(--zen-sidebar-width) - 0px) * -1) !important;
  width: calc(var(--zen-sidebar-width) + 5.8px) !important;
  min-width: 1px !important;
  border-radius: 2px !important;
  
  margin-right: calc(var(--zen-element-separation)/1)  !important;
   margin-left: calc((var(--zen-element-separation) / 19.1) * 1) !important;
   margin-top: calc(var(--zen-element-separation)/2) !important;
   margin-bottom: calc(var(--zen-element-separation)) !important;
  height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  top: 0px !important;
  background: linear-gradient(to right, light-dark(#eee, #444) 0px, light-dark(#eee, #444) calc(var(--zen-sidebar-width, --zen-sidebar-width-fallback) + 25px), transparent calc(var(--zen-sidebar-width, --zen-sidebar-width-fallback) + 100px)) !important;
  
  transition: left 0.2s cubic-bezier(0.175, 0.585, 0.32, 1) !important;
  top: calc(var(--zen-element-separation) / 2) !important;
}

:root[zen-compact-mode="true"] {
    &:has(
      #navigator-toolbox[zen-has-hover="true"],
      #navigator-toolbox[zen-user-show],
      #navigator-toolbox[has-popup-menu],
     
      [panelopen],
      #downloadsPanel-mainView[visible],
      .tabbrowser-tab[visuallyselected="true"],
      #customizationui-widget-panel[panelopen],
      .zen-current-workspace-indicator #tab-label-input
    ) #browser::after {
      opacity: 1.2 !important;
      left: var(--zen-element-separation) !important;
    }

    /* Optional: Hide pseudo background when sidebar is inactive */
    &:has(#navigator-toolbox[zen-has-empty-tab]) #browser::after {
      opacity: 0 !important;
    }
  }
  
      
      
  
}


}
