
  @media (-moz-pref("arcline.borders", 3)) {
#browser{
  
  
 margin-top: -1.5px !important;
 

}
    
    #browser::before{
      margin-top: 5px !important;
    }
    #browser{
      margin-right: 0px !important;
      overflow: hidden !important;
      
      margin-top: 0px !important;
      margin-left: 0px !important;
   
      border-radius: 6.5px !important;

    }

    #zen-main-app-wrapper{
      padding: 0px !important;
     margin-top: 0px !important;
  margin-left: -1px !important;
  margin-right: -0.8px !important;
 margin-bottom: -1px !important;
     
      
 box-shadow: 
    /* Layer 2: The Inner Light Glow (TOP) */
     inset 0 0 0 var(--window-border_width ,1.7px) var(--window-border_opacity ,0.8),
    
    
    
   
      
      border-radius: 9px !important;
    }
    
  
    
}
