zen-folder {
  & > .tab-group-label-container {
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0px !important;
      width: calc(100% - 2px) !important;
      height: calc(100% - 4px) !important;
      background-color: transparent;
      border-radius: 12px !important;
      z-index: -1;
    }
  
  & > label {
      width: 100% !important;
      background: transparent !important;
      border: none !important;
      color: var(--sidebar-text-color) !important;
      margin: 0 !important;
      font-weight: 500 !important;
      font-size: 13.8px !important;
      display: flex;
    margin-top: 1px !important;
    margin-left: 2px !important;
      align-items: center;
      height: 100% !important;
      text-align: start;

      :root:not([zen-sidebar-expanded]) & {
        padding: 0 !important;
        max-width: 100% !important;
      }
    }
  
  
  
  
  
  }
  
  
}



    .tab-group-folder-icon {
      width: 30px !important;
      height: 32px !important;
      align-content: center;
      pointer-events: none;
      position: absolute;

      pointer-events: none;

      :root[zen-sidebar-expanded] & {
        left: 2px;
      }

      & svg image {
        fill-opacity: 0.9;
        -moz-context-properties: fill, fill-opacity;
        fill: var(--zen-folder-stroke);
      }
    }

@media  (-moz-pref("arcline.folder.popup", 1)) {
#zen-folder-tabs-popup{
  display: none !important;
  }}
