



@media (prefers-color-scheme: light) {
  #zen-media-controls-toolbar toolbaritem{
  
  }
#zen-media-controls-toolbar toolbaritem::before {
 content: '' !important;
  position: absolute !important;
  background: transparent !important;
  top: 0px !important;
  bottom: 5px !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  width: 9% !important;
 
  border-radius: 10px;
  padding-top: 34px !important;
  
  height: calc(var(--toolbar-height)) !important;
  z-index: -10000 !important;

}

#zen-media-controls-toolbar {
  & > toolbaritem::before {
     content: '' !important;
  position: absolute !important;
  background: transparent !important;
    --zen-media-control-bg: light-dark(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0)) !important;
    flex-grow: 1;
   
    border-radius: 12px !important;
    transition: padding 0.3s ease-out;
     z-index: -10000 !important;
    left: 0;
    bottom: 0;
    padding: 0px 6px;
    border-radius: var(--border-radius-medium);
    box-shadow: none !important;
    background-color: transparent !important;
   margin-bottom: -5px !important;
    backdrop-filter: saturate(3) contrast(1) blur(10px) brightness(90%) !important;
    width: 95% !important;
  }
}


}



@media (prefers-color-scheme: dark) {

#zen-media-controls-toolbar toolbaritem::before {
 content: '' !important;
  position: absolute !important;
  background: transparent !important;
  top: 0px !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  width: 9% !important;
 
  border-radius: 10px;
  padding-top: 34px !important;
  padding-bottom: 5px !important;
  height: calc(var(--toolbar-height)) !important;
  z-index: -10000 !important;

}

#zen-media-controls-toolbar {
  & > toolbaritem::before {
     content: '' !important;
  position: absolute !important;
  background: transparent !important;
    --zen-media-control-bg: light-dark(rgba(255, 255, 255, 0.87), rgba(0, 0, 0, 0)) !important;
    flex-grow: 1;
   
    border-radius: 12px !important;
    transition: padding 0.3s ease-out;
     z-index: -10000 !important;
    left: 0;
    bottom: 0;
    padding: 0px 4px;
    border-radius: var(--border-radius-medium);
    box-shadow: none !important;
    background-color: transparent !important;
    backdrop-filter: saturate(3) contrast(1) blur(10px) !important;
    width: 95% !important;
  }
}
}











/* ============ COMPACT EXTENSIONS (Credit: KiKaraage) ================== */
#unified-extensions-view{
  
  --uei-icon-size: 20px !important;
  --extensions-in-row: 4;

  width: 100% !important;
  
  /* hide not needed */
  #unified-extensions-description,
  toolbarseparator,
  .unified-extensions-item-menu-button.subviewbutton,
  .unified-extensions-item-action-button .unified-extensions-item-contents
  {display: none !important;}
  
  /* spacing */

  .panel-header {margin-top: 4px !important;}

  [data-l10n-id="unified-extensions-header-title"]::before
  {margin-inline-end: 14px !important;}

  #unified-extensions-manage-extensions
  {padding-left: 10px !important;}

  #unified-extensions-messages-container::empty
  {margin: 0px !important;}
  
  #overflowed-extensions-list
  {padding-bottom: 5px !important;}
  
  #unified-extensions-area
  {padding-block: 5px !important;}
  
  .unified-extensions-list
  {padding-top: 5px !important;}
  
  /* grid layout */
  #overflowed-extensions-list,
  #unified-extensions-area,
  .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat( var(--extensions-in-row), calc(var(--uei-icon-size) + 32px) );
    justify-items: center !important;
    align-items: center !important;
  }
  
  /* buttons */
  .unified-extensions-item{
    padding: 4px !important;
    border-radius: var(--zen-border-radius) !important;
    
    .unified-extensions-item-icon,
    .toolbarbutton-badge-stack
    {margin: 0px !important;}
    
    .unified-extensions-item-action-button 
    {padding-inline: 5px !important;}
    
  }
  
  /* top & bottom borders */
  #unified-extensions-area {
    border-top: 1px solid var(--panel-separator-color);
    border-bottom: 1px solid var(--panel-separator-color);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  
}








  /*---------------------------------music notes from playing tab---------------------------------------*/
  #navigator-toolbox {
    .tab-icon-overlay {
      &:is([soundplaying], [muted], [activemedia-blocked]) {
        display: block !important;
        background: transparent !important;
        border: 0 !important;
        border-radius: 0 !important;
        right: -2px !important;
        scale: 2 !important;
      }

      &[soundplaying] {
        list-style-image: url('chrome://browser/content/zen-images/note-indicator.svg') !important;
        top: -13px !important;
      }

      &:is([activemedia-blocked]) {
        list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAEb0lEQVR4nO2YW4hWVRTHP7URvM6ooWYa1kPlQ4GXxISyC4mUVg/RZQyjKLUsUcsmJRm8pqUgXSCRbhZCqT1mkARaWm+l9qK9jCKZ2KhUD4nWLxbuM/1ncfb3nfPNGaeH84cPPtZ/n7XX2pe1/3tXKiVKlChR4v8I4BZgFtCnB/q+AnjQYuiqo2bgby6htbAIs/e/KvRtMTxWr5PpwHn+w3uFR1o7hg+kf4vlnrwOrgHaxckp4Npuizgex3Wh7wS/AWOyftwH2C8f/wFM6Pao4/FMDDEk+BboneXDBXTGbMe/CvwKbOqGoFcCx4Hlzv64i2l+LUdXAmflg22Of9E5bCowif7O92LHfyLcGWBYNWerXePhwt0JXBT+G6BXUYmEPvaKf+trmnAj3CCvjDkZ5Bq2CDcwTHmCX4DRRSYR+hkNnJR+jgEDhH/FDfTANCdPukaDhXtNuL+AKe7Qmgc8kjNoKyrPAwuBBrHfGvpIsEa4wSG2BE+kOf5aGrwl9mGuarzhvtsqXOZkgOfku3cdt1G434Ghwr0t3B7vtNGt/8nCLXUzpU7nC5c+QvFEnnXfzhVuqFvmS4WbIvYLunIqQUslOKWbGDgk3GqxD3HTvE+XSGjTFxgXfn1TOPtGD7sm4dcId1DsvYHTwt2nTtcJ8anbfIrxkQrX7ipc/7A8zkkb+/860E/aDXeDsUq4Ca7vq4XbkbaHjNglRMdhZEJN7G1upn4W7mWXxHfEccAl0yLcEbH3cpXyUXcoJ9ihiRwU4qHIqOtM3Sh2U6YjIhs1hg3S/ipR2IYbhNtOyrkBPCz2HzURzfx2sW8T+2axPyD2Q27d63KK4awruT8Jd3+KjDd8KPZpYj+miZyJ7IPPI8tHK84XYrdNnRU68rvTdBSwROy7IvunPW8iLZGyuzuy5GrhevnuS7HP60oiurRuE/tHGZbW4R5eWm15N/tnkZG3jTpSOCuxtbBe2o8C/onM1PYMm/0HTWRnpPzanV0FnJbfo5Fl1y+U2Bj2u/K7rI7yuyJWftdGyuwYF8T4yLR7yW/JbHAyw/6vd0lEpTmXboaxA3FnmtowYmYViXI4okSb3L0+TaI0iERJ46pJlLVpZ0WQKNY2wb1eNJoAS9DxjmRl142qisa5btSeqdSnfg1PO8WtM/WScFPFbjEPqibj36wi4ze677YI15wjEbuLJNjiuE1VZPw7wn2V92K1zr0vTXUXq6dsM+a5+oZS/UKYmQY34ucjirvRzdScvFfdAa6CnMz8vtS1q26biVDhlwvXnnrVzfD4cIe7fH1f5OND2MQH3PpX3TfSHbattZ6DVK587PjFdEZjgYlY34pFjtfD0arWkLzVxD/Q2fSeUCleYDKbQ5DLnH1O7uoYXjfsWTKBVayJlR4CMAn4U+LZm+nJVE50/4g9ttujdrCHc/eIfVpP+EywJ3xXBjvV+ssB4H3p32K5q15HzVKpOp5kLheA1tD3RRWN9Tq7Cbi7sOjyl+QZwM090X+JEiVKlKjUwr/rwkME7dPwYwAAAABJRU5ErkJggg==") !important;
        margin: 0px 3px !important;
        top: 0px !important;
      }

      &:is([muted]) {
        list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAMAAAAL34HQAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAb9QTFRFAAAA////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AlH9xQAAAJV0Uk5TAAgcOltfVzEYBCl4zN/r7+a+Yx4PPlBPMA0DVK//mzgBE1ym0urpmUwLBihxqdrcs30K0fu7hf7ld8ny9+JpESu2/JL0dmeEBYNhbkrZVr/9lwmJsfnD+uju7c7U8cbKoQ6u15hzB4FmkDeqJhqe+BmPrGvNLpzsjhWr87lLsgIbfsf1aIrYpCr24CBVckcdnTNYe1JodJtZAAADqElEQVR4nO2WW0gUYRSAz0kRjVolDGUXL4UaXirJyMJbRYRUKEQXkFK0ILOCLvQoJj70Fj4ElVRSFoVYkYhkRGSKZTcK1NSgNPOS2YMSCZJOu+7MP//Yzk4HIhXO9zKHb/6d+XZ2HAdhToKzHeAZzqLAWRQ4iwJnUeAsCpxFgbMocBYFzqLAWRQ4iwJnUeAsCpxFgbMocBYFzqLAWRQ4iwJnUeAsCpxFgbMocBYFzqLAWRQ4iwJnUeAsCpxFgbMocBaF+ZCFGuOzlSNKpHmhu2nSF/G7YVEwoit5cMZnTfS/zbI7zyAsYo/YsczVCjjgQHwvfdJEQxy6d2BH/BtJr2mPUxRQXHSApdezHKHDYg7B4V5t9l+FA1r3M/2DJhrAdx1+dm0jnHGNwmY4Tzt9yHDlxS9ptYkXWRvx54Cuo/tH1N8xwxe7NDua/EW7MCYa7AnjPdo8th4fqGMmttg0HRnQJs5k5rUszGwDAyvr3dvtzTZdOoLrwKsGn+Q+3SdirTplKW91HdY6CRZeXK2gxcas0JfubbZ8gyThPfCoO9XLtRMnX0s7kmvUYVervNxHuevZ3/kja/dzY9aSd+6tLVC2YS3gVcMew30W0K0OMYZHzoZqsPAia28LGHComam9sk25DV41pPXIfsUjddjSJevIJrDwImvzB2NW6i1P5xdf30TP+PoRzRbLzbzIWvvVmKUtmeUss3srp0m26TfBq4Z9jbIfG1WHQJusM26AhRdZ+58YszZdd2/zHkvSHtsw6FXnY7v09IOtV9ThwEN5ebxSaeG1rHyfBmNWJlZMbw/VSzLErj2ITLQ9q1u+R3dcVNxnKayTbHRMrdpu5vWrVTRi+NPOwvPu4Rii9pCB8IRO7Tcy0XAcm8RNmrR8Qj0IHPX7KJ5nIWlKOVh4/X/iqYogMSdFVYmDn0b1bxJyEM+ChYbQAlR/fsjDMqGLlWvqlKtcHQIrr2fFbusT1yv/UmGp2HEGsSoXoD3Kv3xEP56ZhgVleMG1dWTjuH6QkgDlfr9rOKwUT0mrTbz8vlU06J/46lOKHcer2+UTRR5xvqhUFuAJgL/Qzgs2segkXE5fWmqwJd+eHoRzP/yGZqz26A1vp/mJiG1Tq2tiKmae6X8zH97l5w6cRYGzKHAWBc6iwFkUOIsCZ1HgLAqcRYGzKHAWBc6iwFkUOIsCZ1HgLAqcRYGzKHAWBc6iwFkUOIsCZ1HgLAqcRYGzKHAWBc6iwFkUOIsCZ1H4DdCcIqZ2xl9xAAAAAElFTkSuQmCC") !important;
        top: 0px !important;
      }
    }

    .tabbrowser-tab:is([muted], [activemedia-blocked]) .tab-icon-image {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }




  /*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
  @media (-moz-pref("arcline.force.blur", 1)) {
/* Required for blur rendering */
browser {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

browser {
    will-change: transform;
}
  
  }


  /* === COMPACT SIDEBAR ===================================================================================================== */








/*------------------------------------------------------------------------------------------------------------*/



  /* Rounded Tabs with Workspace Transitions */
  .tab-background {
    border-radius: 12px !important;


    z-index: 0 !important;
    position: relative;
  }








 @media (prefers-color-scheme: light) {
    @media (-moz-pref("arcline.borders", 1)) {
#browser{
  
  
 margin-top: -1.5px !important;
 

}
    
    #zen-main-app-wrapper{
      padding: 0px !important;
     margin-top: 0px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
 margin-bottom: -1px !important;
       border: 2px solid rgba(255, 255, 255, calc(var(--zen-gradient-opacity) + 0.3));
 
      border-radius: 8.9px !important;
    }
    
  
    
}


}



@media (prefers-color-scheme: dark) {

  @media (-moz-pref("arcline.borders", 1)) {
#browser{
  
  
 margin-top: -1.5px !important;
 

}
    
    #zen-main-app-wrapper{
      padding: 0px !important;
     margin-top: 0px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
 margin-bottom: -1px !important;
       border: 2px solid rgba(215, 215, 217,  calc(var(--zen-gradient-opacity) + 0.4));
 
      border-radius: 8.9px !important;
    }
    
  
    
}
  
}
