












@font-face {
  font-family: "SF-Pro";
  src: url("https://github.com/ferrocyante/Arcline/raw/refs/heads/main/arcline/fonts/SF-Pro.ttf");
    font-weight: var(--arcline-font-weight);
}




@font-face {
  font-family: "SF-Symbols";
  src: url("https://github.com/ferrocyante/Arcline/raw/refs/heads/main/arcline/fonts/SF-Symbols.ttf");
  font-weight: var(--arcline-font-weight);
}




  @font-face {
    font-family: "Nunito";
    src: url("https://github.com/ferrocyante/Arcline/raw/refs/heads/main/arcline/fonts/Nunito-VariableFont_wght.ttf");
    font-weight: var(--arcline-font-weight);
    font-style: normal;
}



@font-face {
  font-family: "Suse";
  src: url("https://github.com/ferrocyante/Arcline/raw/refs/heads/main/arcline/fonts/SUSE-VariableFont_wght.ttf");
  font-weight: var(--arcline-font-weight);
  font-style: normal;
}



@font-face {
  font-family: "Roboto";
  src: url("https://github.com/ferrocyante/Arcline/raw/refs/heads/main/arcline/fonts/Roboto-VariableFont_wdth,wght.ttf");
  font-weight: var(--arcline-font-weight);
  font-style: normal;
}

@media (-moz-pref("arcline-font", "SF-Pro")) {
  :root{
    --arcline-font: "SF-Pro";
  }
}

@media (-moz-pref("arcline-font", "SF-Symbols")) {
  :root{
    --arcline-font: "SF-Symbols";
  }
}

@media (-moz-pref("arcline-font", "Nunito")) {
  :root{
    --arcline-font: "Nunito";
  }
}

@media (-moz-pref("arcline-font", "Suse")) {
  :root{
    --arcline-font: "Suse";
  }
}

@media (-moz-pref("arcline-font", "Roboto")) {
  :root{
    --arcline-font: "Roboto";
  }
}


* {
  font-family: var(--arcline-font), sans-serif; 
}

    
