

@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml") {
  html {
    border-radius: 60px !important;
  }
}

/*--------------------------------------------------------*/
#urlbar-label-box {
    background: color-mix(in srgb, var(--zen-primary-color) 50%, transparent 50%) !important;
    font-weight: 600 !important;
    color: #fff !important;
  margin-top: 3px !important;
  scale: 0.89 !important;
  margin-left: -9px !important;
    border-radius: 18px !important;
    padding: 7px 8px !important;
    scale: 0.8 !important;
}

.urlbar-input {
  padding-top: 2.7px !important;
    font-size: 13px !important;
   /* color: #FFFFFF !important;*/
  /*  padding-right: 12px !important;*/
   font-weight: 510 !important;
/* padding-top: 0px !important;*/
 
  
  
}


  #urlbar-searchmode-switcher {
  margin-top: 4.7px !important;
    height: 2rem !important;
    margin-right: -2px !important;
    
     
  transform: translate(-18%, -1%) !important;
    min-height: 2px !important;
 border-radius: 9px !important;
    padding-top: 13px !important;
    padding-right: 5px !important;
    padding-bottom: 13px !important;
    padding-left: 5px !important;;
    scale: 0.8 !important;
 background-color: light-dark(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15)) !important;

   text-align: center !important;
}


#searchmode-switcher-chicklet {
   


   
 
  display: none !important; 
}















/*-------------------------------------------------------*/
@media (-moz-pref("arcline.url.bar", 0))  {

 





/*------------------------------------------------------------*/
















  
  
  
  
  
/*
  =======================================================
  The Correct and Fully Dynamic Style for the Revert Button
  =======================================================
*/
.urlbar-revert-button {
  /* 1. Set the background color using your variable. This provides the icon's color. */
  background-color: var(--toolbox-textcolor);

  /* 2. Apply the icon's SHAPE as a mask. This cuts out the background color. */
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='52 40 35 35' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 79.333 52.766 C 79.951 54.14 79.742 62.673 79.374 61.856 C 79.682 64.781 77.666 67.257 74.386 66.594 C 74.386 67.084 65.698 67.668 65.698 66.844 C 62.491 67.434 60.687 64.663 60.96 61.773 C 60.02 61.896 59.172 53.097 60.752 52.891 C 60 50.79 61.408 49.653 62.911 49.017 C 61.256 49.908 60.6 51.643 60.604 54.565 C 60.604 54.81 60.612 60.977 60.612 60.565 C 61.666 64.546 62.267 66.796 66.871 66.752 L 72.871 66.692 C 77.481 66.645 79.119 64.989 79.112 60.379 L 79.104 54.379 C 79.099 51.406 78.415 49.675 76.694 48.833 C 78.388 49.671 79.517 51.074 79.333 52.766 Z M 72.873 68.192 L 66.873 68.252 C 61.444 68.307 59.12 66.01 59.112 60.58 L 59.104 54.58 C 59.096 49.15 61.413 46.807 66.843 46.752 L 72.843 46.692 C 78.272 46.637 80.596 48.934 80.604 54.364 L 80.612 60.364 C 80.62 65.794 78.303 68.137 72.873 68.192 Z M 76.983 61.287 C 76.982 60.877 76.642 60.54 76.232 60.545 L 72.332 60.584 C 71.922 60.588 71.583 60.931 71.583 61.341 C 71.584 61.751 71.924 62.088 72.334 62.084 L 76.234 62.045 C 76.644 62.04 76.984 61.697 76.983 61.287 Z M 65.931 61.398 L 65.931 61.397 C 65.931 60.378 66.76 59.541 67.778 59.531 C 68.797 59.52 69.629 60.342 69.63 61.362 C 69.632 62.382 68.803 63.22 67.783 63.231 C 66.764 63.241 65.934 62.41 65.931 61.4 C 65.931 61.399 65.931 61.399 65.931 61.398 Z M 63.23 60.675 C 62.82 60.68 62.481 61.023 62.481 61.433 C 62.482 61.843 62.822 62.18 63.232 62.175 L 64.516 62.162 C 64.859 63.648 66.193 64.747 67.785 64.731 C 69.635 64.712 71.133 63.187 71.13 61.347 C 71.127 59.497 69.625 58.012 67.775 58.031 C 66.184 58.046 64.854 59.17 64.515 60.662 L 63.23 60.675 Z M 76.972 54.127 C 76.971 53.717 76.631 53.38 76.221 53.385 L 74.937 53.398 C 74.594 51.912 73.26 50.815 71.668 50.83 C 69.818 50.849 68.32 52.364 68.323 54.214 C 68.326 56.064 69.828 57.549 71.678 57.53 C 73.27 57.515 74.601 56.39 74.94 54.898 L 76.223 54.885 C 76.633 54.88 76.972 54.547 76.972 54.127 Z M 73.522 54.162 C 73.522 54.173 73.522 54.184 73.523 54.195 C 73.506 55.2 72.684 56.02 71.675 56.03 C 70.656 56.041 69.824 55.229 69.823 54.199 C 69.821 53.179 70.65 52.341 71.67 52.33 C 72.679 52.32 73.503 53.124 73.523 54.129 C 73.522 54.14 73.522 54.151 73.522 54.162 Z M 67.871 54.219 C 67.87 53.809 67.53 53.472 67.12 53.476 L 63.22 53.515 C 62.81 53.52 62.47 53.863 62.471 54.273 C 62.472 54.683 62.812 55.02 63.222 55.015 L 67.122 54.976 C 67.532 54.972 67.871 54.639 67.871 54.219 Z'/%3E%3C/svg%3E") !important;
  mask-image: url("data:image/svg+xml,...");

  /* --- Mask properties and cleanup --- */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-image: none !important;
  list-style-image: none !important;
  fill: none !important;
  
  /* --- Keep all your original layout styles --- */
  scale: 0.65 !important;
  margin-top: 1.2px !important;
  height: 32px !important;
  width: 33px !important;
  margin-right: -4px !important;
}

  
  
  
  
  
  
  
  
  
  
  
  .urlbarView-row {
  &[rich-suggestion][type="search"] {
    :root:not([uidensity="touch"]) & {
      min-height: 26px !important;
      max-height: 45px !important;
    }
  }
}

.urlbarView-row {
  &:not([type="tip"], [type="dynamic"]) {
    :root[uidensity="touch"] & {
      padding-block: 5px !important;
      
      
    }
  }
}





#urlbar[open][zen-floating-urlbar='true'] {
   top: calc(var(--my-global-zen-top) + var(--url-bar-position_top)) !important;

  min-width: 57rem !important;
  



  
  


.urlbar-input:root {
    font-size: 14px !important;
   /* color: #FFFFFF !important;*/
 
   max-width:  85% !important;
  /*  padding-right: 12px !important;*/
   font-weight: 510 !important;
/* padding-top: 0px !important;*/
  filter: brightness(75%) !important;

   overflow: hidden !important;
  display: inline-block !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  opacity: 1 !important;
}



  
}
/*---------open url bar end----------------------------*/

/* Acrylic/Mica floating Urlbar */
#urlbar[zen-floating-urlbar="true"] #urlbar-background {
    background: rgba(20, 20, 20, 0.69) !important;
  
    backdrop-filter: blur(64px) brightness(1) saturate(1.1) contrast(1.1) !important;
}

.urlbarView-row {
  &[selected] {
    & .urlbarView-favicon {
      background: color-mix(in srgb, #fff 5%, var(--urlbarView-highlight-background) 95%) !important;
    }
  }
}


.urlbarView-body-inner {
  #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
    border-top: 2px solid rgba(255,255,255,0.1) !important;
  }
}

/* === In your userChrome.css === */

/* Make sure the #browser element is a positioning context */
#browser {
  position: relative !important; /* Or absolute/fixed depending on context */
   isolation: isolate; /*might be useful too */
}

/* === SECOND PSEUDO-ELEMENT (::before - Your Floating Background) === */
#browser::before {
  /* Basic setup */
  content: "";
  position: absolute;
  pointer-events: none !important;
  
padding-bottom: 5rem !important;
  /* --- Appearance --- */
  background-color: var(--toolbar-bgcolor, #f0f0f0) !important;
  border-radius: 14px !important;
    background: linear-gradient(to right, light-dark(#eee, #666) 0px, light-dark(#eee, #666)) !important;

      
     

  /* --- Positioning & Size --- */
   top: calc(var(--my-global-zen-top) + var(--url-psuedo-position_top)) !important;
 
  left: 50% !important;           /* Using left/transform for robustness */
  transform: translateX(-50%) !important;
  width: min(90%, 56.8rem) !important;

  /* --- DYNAMIC HEIGHT --- */
  /* Use the JS variable, fallback to your fixed height if variable isn't set */
  height: var(--urlbar-view-dynamic-height, 39rem) !important;
transition: height 0.5s ease-in-out; /* or whatever duration/timing you like */
  /* --- Stacking & Visibility --- */
  z-index: -1 !important;
  opacity: 0 !important; /* Start hidden */

  /* --- Animation --- */
  /* Transition opacity. Height changes might be instant or you could transition height too */
  transition: opacity 0s ease-out !important;
          /*    height 0.1s ease-out !important; /* Optional: animate height changes */
}

/* --- Trigger for ::before (When URL bar is open) --- */
body:has(#urlbar[open]) #browser::before {
  opacity: 1 !important;
}





#urlbar[zen-floating-urlbar="true"] {
    padding: 4px !important;
    #identity-box[pageproxystate="invalid"] {
        & #identity-icon {
            scale: 0.9 !important;
          margin-top: 0px !important;
            fill-opacity: 1 !important;
        }
    }
    
    .urlbar-input-container {
        display: flex !important;
        align-items: center !important;
    }
    
    .urlbarView-row {
        padding: 0 0px !important;
        &:not([type="tip"], [type="dynamic"]) {
            padding-block: 0px !important;
         
        }
    }
}


.urlbar-input {
 
  filter: brightness(75%) !important;

  
}










.urlbarView-row {
  &:not([type="tip"], [type="dynamic"]) {
    :root[uidensity="touch"] & {
      padding-block: 4px !important;
    }
  }
}

#urlbar[breakout][breakout-extend] {
    & > .urlbar-input-container {
        height: 54px !important;  
    }
}

#urlbar-search-mode-indicator-close, #searchmode-switcher-close {
    fill-opacity: 1 !important;
}

.urlbarView-row[has-action]:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) {
  & > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
   
    background: transparent !important;
    border: none !important;
  padding: none !important;
      
  }
}

.urlbarView-row[type='dynamic']{    
    width: 100% !important;
    display: block !important;
    height: 0 !important;
    position: relative !important;

    .urlbarView-action-btn {
        position: absolute !important;
        right: 0% !important;
        bottom: 0% !important;
        transform: translateY(-13.5px) !important;
       display:  none  !important;
        color: color-mix(in srgb, var(--zen-primary-color) 50%, black 50%) !important;
        background-color: #fff !important;
        margin-inline-end: var(--space-large);
        border-radius: 8px !important;
    }
}
  


}



@media (-moz-pref("arcline.url.bar", 1))  {

* {
  /* Colors */
  --natsumi-primary-color: var(--natsumi-accent-color, var(--zen-primary-color));
  --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
  --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-colors-primary) 20%, white 80%);
  --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 2%, white 98%);
  --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

  @media (prefers-color-scheme: dark) {
    --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 20%, var(--zen-dark-color-mix-base) 80%);
    --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 30%, var(--zen-dark-color-mix-base) 70%);
    --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 1%, var(--zen-dark-color-mix-base) 99%);
    --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

    @media -moz-pref('zen.theme.color-prefs.colorful') {
      --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
      --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 40%, black 60%);
      --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 15%, black 85%);
      --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);
    }
  }

  /* Material: Mistcrylic */
  --natsumi-mat-mc-background: color-mix(in srgb, var(--natsumi-primary-color) 40%, rgba(255, 255, 255, 0.8));
  --natsumi-mat-mc-shadow-color: rgba(0, 0, 0, 0.3);
  --natsumi-mat-mc-border-color: rgba(255, 255, 255, 0.1);
  --natsumi-mat-mc-shadow-size: 10px;
  --natsumi-mat-mc-blur-radius: 15px;

  @media (prefers-color-scheme: dark) {
    --natsumi-mat-mc-background: color-mix(in srgb, var(--natsumi-colors-secondary) 50%, rgba(0, 0, 0, 0.8));
  }

  /* Material: Haze */
  --natsumi-mat-hz-background: rgba(255, 255, 255, 0.8);
  --natsumi-mat-hz-background-tinted: color-mix(in srgb, var(--natsumi-primary-color) 20%, rgba(255, 255, 255, 0.8));
  --natsumi-mat-hz-blur-radius: 100px;
  --natsumi-mat-hz-shadow-color: rgba(0, 0, 0, 0.3);
  --natsumi-mat-hz-shadow-size: 10px;
  --natsumi-mat-hz-saturation: 3;
  --natsumi-mat-hz-contrast: 2;

  @media (prefers-color-scheme: dark) {
    --natsumi-mat-hz-background: rgba(0, 0, 0, 0.8);
    --natsumi-mat-hz-background-tinted: color-mix(in srgb, var(--natsumi-colors-secondary) 20%, rgba(0, 0, 0, 0.8));
  }

  /* Material: Glass */
  --natsumi-mat-ga-background: color-mix(in srgb, var(--natsumi-colors-secondary) 75%, transparent);
  --natsumi-mat-ga-blur-radius: 10px;
  --natsumi-mat-ga-shadow-size: 10px;
  --natsumi-mat-ga-shadow-opacity: 75%;
  --natsumi-mat-ga-shadow-color: color-mix(in srgb, var(--natsumi-colors-secondary) var(--natsumi-mat-ga-shadow-opacity), black);

  @media (prefers-color-scheme: dark) {
    --natsumi-mat-ga-shadow-color: color-mix(in srgb, var(--natsumi-colors-secondary) var(--natsumi-mat-ga-shadow-opacity), white);

    @media -moz-pref("natsumi.theme.force-glass-dark-shadows") {
      --natsumi-mat-ga-shadow-color: color-mix(in srgb, var(--natsumi-colors-secondary) var(--natsumi-mat-ga-shadow-opacity), black);
    }
  }

  /* Fonts */
  --natsumi-custom-font: var(--custom-font, system-ui);
}

/* URL bar appear animation */
#urlbar {
  --animation-duration: var(--urlbar-appear-animation-duration, 0.25s);
}

/* Results appear animation */
#urlbar-results {
  --animation-duration: var(--urlbar-results-animation-duration, 0.5s);
}

/* Individual result appear animation */
.urlbarView-row {
  --animation-duration: var(--urlbar-individual-result-animation-duration, 1.0s);
  --animation-duration-subtle: 0.5s; /* WIP, this won't change anything for now */
  --animation-delay: var(--urlbar-individual-result-animation-delay, 0.1s);
  --animation-delay-offset: var(--urlbar-individual-result-animation-delay-offset, 0.3s);
  --expand-width: var(--urlbar-individual-result-expand-size, 1.1);
}

/* Reload border animation */
browser, .browserSidebarContainer.deck-selected {
  --animation-duration: var(--reload-border-animation-duration, 0.2s);
  --animation-rotation-duration: var(--reload-border-animation-rotation-duration, 2.0s);
  --animation-exit-duration: var(--reload-border-animation-exit-duration, 1.0s);
  --browser-margin: var(--reload-border-margin, 4px);
}

/* Reload URLbar animation */
#urlbar-background {
  --fadein-duration: var(--reload-urlbar-animation-duration, 0.5s);
  --animation-duration: var(--reload-urlbar-animation-fadein-duration, 1s);
}

/* Container tabs gradient */
.tabbrowser-tab {
  --container-gradient-width: var(--container-tabs-normal-gradient-width, 25%);
  --container-gradient-width-expanded: var(--container-tabs-expanded-gradient-width, 50%);
}

/* Sidebar position */
#sidebar-box {
  --natsumi-sidebar-x-offset: var(--ff-sidebar-x-offset, 20px);
  --natsumi-sidebar-y-offset: var(--ff-sidebar-y-offset, 20px);
}

/* Blade offset for tabs (change this if other rices/mods break Blade) */
.tabbrowser-tab {
  --natsumi-tabs-blade-size-offset: 4px;
  --natsumi-tabs-blade-position-offset: 2px;
}



/*---------------------------------------------------------------------------------------------------------------*/
.urlbarView-row {
  &:not([type="tip"], [type="dynamic"]) {
    :root[uidensity="touch"] & {
      padding-block: 5px !important;
    }
  }
}
.urlbarView-row {
  &:not([type="tip"], [type="dynamic"]) {
    :root:not([uidensity="compact"]) & {
      min-height: 12px !important;
    }
  }
}
  @media not (-moz-pref("arcline.url.bar.scale", 1))  {

/* Target the urlbar view rows */
#urlbar-results .urlbarView-row {
    /* Remove default background hihlight */

   
}

/* Neutralize hover state */
#urlbar-results .urlbarView-row:hover {
    /* Completely remove white/default highlight */
    background-color: rgba(0, 0, 0, 0) !important;
 
    /* Optional: Add a subtle hover effect if desired */
    border-radius: 8px;
    transition: background 0.55s ease;
}

/* Ensure text remains visible */
#urlbar-results .urlbarView-row-inner {
   
    background-color: transparent !important;
}

  
  

/* macOS Dock-like Magnification for URL Bar Search Results */

#urlbar-results .urlbarView-row {
    /* Base transition for smooth dock-like effect */
  margin: 0px !important;
   
    transition: all 0.44s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    transform-origin: center bottom !important;
    border: none !important;
    /* Initial glass morphism styling */
  
    backdrop-filter: blur(2px) !important;
    border-radius: 10px !important;
   
}

}
@media (-moz-pref("arcline.url.bar.scale", 1))  {

  
   /* Remove White Highlight on Hovered Search Results */

/* Target the urlbar view rows */
#urlbar-results .urlbarView-row {
    /* Remove default background hihlight */

   
}

/* Neutralize hover state */
#urlbar-results .urlbarView-row:hover {
    /* Completely remove white/default highlight */
    background-color: rgba(0, 0, 0, 0) !important;
 
    /* Optional: Add a subtle hover effect if desired */
    border-radius: 8px;
    transition: background 0.55s ease;
}

/* Ensure text remains visible */
#urlbar-results .urlbarView-row-inner {
   
    background-color: transparent !important;
}

  
  

/* macOS Dock-like Magnification for URL Bar Search Results */

#urlbar-results .urlbarView-row {
    /* Base transition for smooth dock-like effect */
  margin: 0px !important;
   
    transition: all 0.44s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    transform-origin: center bottom !important;
    border: none !important;
    /* Initial glass morphism styling */
  
    backdrop-filter: blur(2px) !important;
    border-radius: 10px !important;
   
}

/* macOS Dock-like Magnification Effect */
#urlbar-results .urlbarView-row:hover {
     transition: 
        property-name delay-duration transition-duration transition-timing-function;
    
    /* Example */
    transition: transform 0.4s 0.4s ease-in-out;
    /* 0.2s delay, then 0.3s transition */
    /* Advanced magnification with dock-like curve */
    transform: 
        scale(1.12) 
        translateY(-11.5px) !important; /* Lift effect */
   
    /* Enhanced z-index for proper layering */
    z-index: 100 !important;
    transform-origin: center !important;
    /* Advanced glass effect on hover */
 border: none  !important;
 
    backdrop-filter: blur(25px)  contrast(95%) saturate(115%) !important;
    box-shadow: 
        0 10px 20px rgba(0, 0, 0, 0.1), 
        0 6px 10px rgba(0, 0, 0, 0.08) !important;
    
    /* Width expansion */
    width: 98.97% !important;
    
}




/* Optional: Refined scrollbar for glass effect */
#urlbar-results::-webkit-scrollbar {
    width: 5px !important;
}

#urlbar-results::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 25px !important;
    backdrop-filter: blur(10px) !important;
  border-top: 1px solid light-dark(rgba(20, 20, 20, 0.1), rgba(235, 235, 235, 0.1)) !important;
}
/* Smooth text rendering */
#urlbar-results .urlbarView-row-inner {
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}



}
/*---------------------------------------------------------------------------------------------------------------------------------*/












/* expanded urlbar */
#urlbar {
  top: auto !important;

  &[open] {
    min-width: var(--na-urlbar-width) !important;
    max-width: var(--na-urlbar-width) !important;
   
    display: flex !important;
    scale: 1 !important;
    flex-direction: column !important;
    bottom: 55.5px !important;
    border-radius: 20px !important;
  }

  /* move urlbar input to bottom*/
  &>.urlbar-input-container {
    order: 1 !important;
  }
}

#urlbar[open][zen-floating-urlbar='true'] {
 
  left: 57% !important;
  max-width: 650px !important;
  border-radius: 25px !important;
  
  
}


/*------------for arc raycast lie toolbar url bar button idea-----------------*/
 #page-action-buttons,
#urlbar-go-button{
  
  order: 1 !important;
}
/*----------------------------------------------------------------------------*/

  

  /* Make borders more visible */

  /*noinspection CssInvalidFunction*/
  .urlbarView-body-inner, .search-one-offs {
    border-top: 0px solid light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.2)) !important;
  }




.urlbarView-row {
  &[selected] {
    background-color: black !important;
  
    padding-left: 5px !important;
  scale: 0.99 !important;
   filter: brightness(110.1%) !important;
    
    
  }
}

 .verifiedDomain {
        image {
          list-style-image: url("https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/arc-logo.svg") !important;
    
        }
      }

      &:not([zen-newtab]) {
        #identity-box {
          &:is([pageproxystate="invalid"]).verifiedDomain {
            image {
              list-style-image: url('chrome://global/skin/icons/search-glass.svg') !important;
            }
          }
        }



#urlbar-container:has(#urlbar[breakout-extend]) {
  #urlbar {
    border-radius: 22px !important;
    border: 0px solid var(--na-color-border) !important;
    font-size: 1.2rem !important;
    height: fit-content !important;
    scale: 0.99 !important;
    padding-inline: 0px !important;
    padding-block: 8.2px !important;
    padding-bottom: 8.5px !important;
    color: var(--na-color-text) !important;

    .urlbar-input,
    .urlbar-input-box {
      margin: 0px !important;
      padding: 0px !important;
    
      
    }
   
         #urlbar-input {
          margin-top: 2px !important;
        font-size: 17px !important;
        margin-left: 1.5px !important;
        margin-right: 6% !important;
        border-radius: 0 !important;

      }
   

    
    .urlbar-input-container {
      max-height: fit-content  !important;
      filter: brightness(95%) !important;
     
    bottom: 0px !important;
     width: 97% !important;
     border-radius: 12px !important;
      left: 0px !important;
      padding-block: 3px !important;
      padding-inline: 0px !important;
       box-shadow: 0px 0px 92px -10px rgba(0, 0, 0, 0.6) !important;
      
    }
  
  .verifiedDomain {
  scale: 1.3 !important;
    margin-bottom: 3px !important;
    margin-left: 5px !important;
        image {
          list-style-image: url("https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/arc-logo.svg") !important;
    
        }
      }

      &:not([zen-newtab]) {
        #identity-box {
       
        
          &:is([pageproxystate="invalid"]).verifiedDomain {
           
            image {
              list-style-image: url('chrome://global/skin/icons/search-glass.svg') !important;
            }
               scale: 1.3 !important;
    margin-bottom: 2px !important;
    margin-left: 5px !important;
          }
        }
  
  
   
  
  
  
  
    }}
  
 #urlbar-background {
        background: rgba(105, 100, 110, 0.000000000000000000000000023) !important; /* Transparency fine-tuned */
     
    box-shadow: 8px 5px 125px 0 rgba(0, 0, 0, 0.5), 0px  30px 50px #00000069 !important;
    backdrop-filter: blur(5rem) saturate(190%) contrast(95%) brightness(69%) !important;
        
   
	padding: 0.5em 0em !important;
			border-radius: 18px !important;
   
        
   
        transition: backdrop-filter 0.5s ease, background 0.5s ease;
        border: 0px solid light-dark(rgba(255, 255, 255, 0.9), rgba(235, 235, 235, 0.25)) !important;
       
      }



 
  
}

@media (-moz-bool-pref: "zen.view.use-single-toolbar") {
  :root[zen-sidebar-expanded="true"] {
    .urlbar-page-action,
    #tracking-protection-icon-container {
      
      margin-left: 0px !important;
    }
  }
}



/* urlbar action button */
.urlbar-page-action,
#tracking-protection-icon-container {
  margin-left: 0px !important;
}

#page-action-buttons {
  margin-right: 3.5px !important;
}


/* urlbar search result type icon (site that you bookmark will have star on the right side) */
.urlbarView-row>.urlbarView-row-inner .urlbarView-type-icon {
  margin: 0px !important;
  position: absolute !important;
  right: 15px !important;
}

.urlbarView-body-inner:has(.urlbarView-row[type="top_site"]){
    display: none !important;
}

.urlbarView-row[selected] {
    
      background-color: var(--na-color-text) !important;
    }


     .urlbarView-url {
      color: var(--na-color-text-second) !important;
    }

.urlbarView-title-separator{
   color: white !important;
 filter: brightness(2) !important;
}



  
/*-----------------------------------------------------------*/





  * {
    --urlbarView-item-block-padding: 4px !important;
    --urlbarView-item-inline-padding: 4px !important;
  }

 
  #urlbar {
    .urlbarView {
      overflow: initial !important;}}

      

      .urlbarView-row[has-action][type="clipboard"] {
        .urlbarView-title-separator::before {
          opacity: 0 !important;
        }
      }

      &:not([action-override]) {
        .urlbarView-row[has-action]:is([type="switchtab"], [type="remotetab"]) {
          .urlbarView-action {
            margin-left: 8px !important;
          }

          .urlbarView-title-separator::before {
            opacity: 0 !important;
          }
        }
      }
    }

   

      &[zen-newtab] {
           scale: 1.5 !important;
    margin-bottom: 2px !important;
    margin-left: 5px !important;Z
        #identity-icon {
          list-style-image: url("chrome://browser/skin/zen-icons/plus.svg") !important;
        }
      }

   
 


  /* Border tweaks */


/* ==== Natsumi URLbar ==== */

/* Animations */

@keyframes urlbar-appear {
  0% {
    margin-top: -25vh;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes urlbar-appear-sideways {
  0% {
    margin-bottom : calc(-50% + calc(min(90%, 60rem) / 2));
  }
  100% {
    margin-bottom: 0;
  }
}

/*noinspection CssInvalidFunction*/
@keyframes individual-result-appear {
  0%   {
    opacity: 0;
    scale: 0.5;
    background: var(--natsumi-colors-tertiary);
    filter: blur(20px);
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    scale: var(--expand-width);
    background: light-dark(var(--natsumi-primary-color), var(--natsumi-colors-primary));
    filter: blur(0);
  }
  100% {
    opacity: 1;
    scale: 1;
    background: transparent;
  }
}

/*noinspection CssInvalidFunction*/
@keyframes individual-result-appear-subtle {
  0%   {
    opacity: 1;
    scale: 1;
    background: transparent;
  }
  60% {
    scale: 1.05;
    background: light-dark(var(--natsumi-primary-color), var(--natsumi-colors-primary));
  }
  100% {
    opacity: 1;
    scale: 1;
    background: transparent;
  }
}

@keyframes pinned-icon-appear {
  0% {
    opacity: 0;
    scale: 0.5
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}



  #urlbar {
   

    &[breakout-extend] {
      @media not -moz-pref("natsumi.urlbar.light") {
        /* URLbar animations, toggleable to make things lighter. */

        animation-name: urlbar-appear;
        animation-duration: var(--animation-duration);

        @media -moz-pref("zen.view.use-single-toolbar") {
          animation-name: urlbar-appear-sideways;
        }

        #urlbar-results {
          .urlbarView-row {
            animation-name: individual-result-appear;
            animation-duration: var(--animation-duration);
            animation-fill-mode: forwards;
            opacity: 0;

            .urlbarView-type-icon {
              animation-name: pinned-icon-appear;
              animation-duration: 0.5s;
              animation-fill-mode: forwards;
              opacity: 0;
            }
          }

          .urlbarView-row:nth-child(1) {
            animation-delay: calc((var(--animation-delay) * 0) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 0) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(2) {
            animation-delay: calc((var(--animation-delay) * 1) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 1) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(3) {
            animation-delay: calc((var(--animation-delay) * 2) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 2) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(4) {
            animation-delay: calc((var(--animation-delay) * 3) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 3) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(5) {
            animation-delay: calc((var(--animation-delay) * 4) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 4) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(6) {
            animation-delay: calc((var(--animation-delay) * 5) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 5) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(7) {
            animation-delay: calc((var(--animation-delay) * 6) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 6) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(8) {
            animation-delay: calc((var(--animation-delay) * 7) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 7) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(9) {
            animation-delay: calc((var(--animation-delay) * 8) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 8) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(10) {
            animation-delay: calc((var(--animation-delay) * 9) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 9) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }

          .urlbarView-row:nth-child(n+11) {
            animation-delay: calc((var(--animation-delay) * 10) + var(--animation-delay-offset));

            .urlbarView-type-icon {
              animation-delay: calc((var(--animation-delay) * 10) + var(--animation-delay-offset) + var(--animation-duration));
            }
          }
        }
      }

     

     

     


      /* Force icon size */

    }

    &:is([pageproxystate='invalid']):is([usertyping]) {
      .urlbarView-row, .urlbarView-row .urlbarView-type-icon {
        animation: none !important;
        opacity: 1 !important;
      }

      /*
      this is still in the oven

      .urlbarView-row {
        animation-name: individual-result-appear-subtle !important;
        animation-duration: var(--animation-duration-subtle) !important;
        animation-delay: 0s !important;
      }
      */
    }

 

}


}
  
  
  

