



  @media (-moz-pref("arcline.borders", 3)) {
#browser{
  
  
 margin-top: -1.5px !important;
 

}
    
    #browser::before{
      margin-top: 5px !important;
    }
    #browser{
      margin-right: 0px !important;
      overflow: hidden !important;
      
      margin-top: 0px !important;
      margin-left: 0px !important;
   
      border-radius: 9px !important;

    }

    #zen-main-app-wrapper{
      padding: 0px !important;
     margin-top: 0px !important;
  margin-left: -1px !important;
  margin-right: -0.8px !important;
 margin-bottom: -1px !important;
       border: 2px solid rgba(215, 215, 217,  calc(var(--zen-gradient-opacity) + 0.1));
 scale: 1 !important;
      border-radius: 9px !important;
    }
    
  
    
}

